.servicios { color: #272d33;
             font-family: 'Roboto', sans-serif; }

.navbar { position: relative;
          height: 15vh;
	        background-color: white;
          border-color: #272d33;
          box-sizing: border-box; 
          box-shadow: rgba(0,0,0,0.05);
          padding-top: 5px;
          padding-bottom: 5px;
          -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
          margin: 0;}

.navbar-right { padding-right: 5px;
                padding-top: 18px; }

.navbar-inverse .navbar-nav>li>a { font-size: 18px; 
                                   color: #272d33;
                                   font-weight: bold;  }

.navbar-inverse .navbar-nav>li>a:hover { color: #f96332;  }

.brand { position: absolute;
         top: 16px; }

.jumbotron { height: 40vh;
             background-image: url("../img/producto.jpeg");
             background-size: cover;
             background-position: top;
             margin-bottom: 50px;}


.titulo h1 { text-align: center;
             font-size: 60px;
             font-weight: bold;
             color: white; }

.btn-primary { width: 60%;
               margin-left: 20%;
               margin-top: 10px; }

.thumbnail h3 { font-size: 20px; }

hr { width: 97%; }

.sub-titulo h3 { font-size: 26px;
                 font-weight: bold;
                 margin-left: 15px;
                 margin-top: 40px; }

.clases { margin-bottom: 40px; }

